* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --light: #F9EDED;
    --light-blue: #39a6b2;
    --light-gray:  #D3D3D3;
    --dark-blue: #29364F;
    --dark: #181B26;
}

body {
    color: var(--dark-blue);
    font-family: Helvetica, Arial, sans-serif;
    display: inline;
    background-color: var(--light-gray);
}

header {
    padding: 20px 35px;
    background-color: var(--dark);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    top: 0;
    background-image: url("./assets/Images/hero-image.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
}

header h1 {
    font-weight: bold;
    font-size:  45px;
    color: var(--dark-blue);
    margin: 0;
    background-color: var(--light-blue);
    padding: 5px 20px 5px 75px;
}

header a {
    text-decoration: underline;
    color: var(--light-blue);
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.hero {
    background-image: url("../assets/Images/hero-image.jpg");
    height: 300px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero h2 {
    font-size: 40px;
    font-weight: bold;
    border: 3px solid;
    background-color: var(--light-blue);
    color: var(--dark-blue);
    position: absolute;
    padding: 10px 30px;
    bottom: 40px;
    right: 130px;
}

.grid-container {
    max-width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-items: stretch;
    grid-gap: 10px;
}

.grid-item {
    background-color:var(--light-blue);
    border: solid;
    color: black;
    padding: 1em;
    justify-items: stretch;
  }

.item-1 {
    grid-column-start: 1; 
    grid-column-end: 3; 
    grid-row-start: 1; 
    grid-row-end: 3; 
    background-image: url("../assets/Images/image-1.jpg");
    background-size: cover;
    background-position: center;
    font-weight: bold;
    text-decoration:var(--light) underline;
    color:var(--light);
}

.item-2 {
    grid-column-start: 1; 
    grid-column-end: 2; 
    grid-row-start: 4; 
    grid-row-end: 3; 
    background-image: url("../assets/Images/image-2.jpg");
    background-size: cover;
    background-position: center;
    font-weight: bold;
    text-decoration:var(--light) underline;
    color:var(--light);
}

.item-3 {
    grid-column-start: 2; 
    grid-column-end: 3; 
    grid-row-start: 4; 
    grid-row-end: 3; 
    background-image: url("../assets/Images/image-3.jpg");
    background-size: cover;
    background-position: center;
    font-weight: bold;
    text-decoration:var(--light) underline;
    color:var(--light);
}

.item-4 {
    background-size: cover;
    background-position: center;
    font-weight: bold;
    text-decoration:var(--light) underline;
    color:var(--light);
}

.item-5 {
    grid-column-start: 3; 
    grid-column-end: 4; 
    grid-row-start: 2; 
    grid-row-end: 3; 
    background-image: url("../assets/Images/image-5.jpg");
    background-size: cover;
    background-position: center;
    font-weight: bold;
    text-decoration:var(--light) underline;
    color:var(--light);
}

.about-me {
    display: inline-block;
    position: center;
    height: 200px;
}

.work {
    display: inline-block;
    text-align: center;
    position: center;
}

.contact {
    height: 100px
}

.left {
    border: 1px; 
    margin: 10px 5px 10px 5px;
    padding: 10px;
    height: 400px;
    width: 415px;
    float: left;
    text-align: right;
    font-size: 37px;
    font-weight: bold;
}

.right {
  border: 1px;
  margin: 10px 0px 10px 0px;
  padding: 10px;
  display: inline;
  position: relative;
  text-align: left;
  font-size: 20px;
}


.links {
    font-weight: bold;
    text-decoration: none;
    font-size: 25px;
}
